<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Számológép</title>
    <style>
        .field-error{
            background: red;
        }
        .frontend{
            text-align: center;
         }
    </style>
</head>
<body>
    <div class="frontend">
        <form action="#" method="post" th:object="${input}">
            Művelet:
            <select th:field="*{muvelet}" th:class="${#fields.hasErrors('muvelet')}? field-error">
                <option value="" selected >Művelet</option>
                <option th:each="operator : ${operatorok}" th:value="${operator}" th:text="${operator}"></option>
            </select>
            <p th:if="${#fields.hasErrors('muvelet')}" th:errors="*{muvelet}"></p><br>

            A: <input type="number" th:field="*{a}" th:class="${#fields.hasErrors('a')}? field-error" >
            <p th:if="${#fields.hasErrors('a')}" th:errors="*{a}">A operátor érvénytelen!</p><br>

            B: <input type="number" th:field="*{b}" th:class="${#fields.hasErrors('b')}? field-error" >
            <p th:if="${#fields.hasErrors('b')}" th:errors="*{b}">B operátor érvénytelen!</p><br>

            Felhasználó azonosító: <input type="number" th:field="*{userID}" th:class="${#fields.hasErrors('userID')}? field-error" >
            <p th:if="${#fields.hasErrors('userID')}" th:errors="*{userID}">Az azonosító érvénytelen!</p><br>

            Felhasználó név: <input type="text" th:field="*{userName}" th:class="${#fields.hasErrors('userName')}? field-error" >
            <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">A név érvénytelen!</p><br>

            Felhasználó életkor: <input type="number" th:field="*{userAge}" th:class="${#fields.hasErrors('userAge')}? field-error" >
            <p th:if="${#fields.hasErrors('userAge')}" th:errors="*{userAge}">A kor érvénytelen!</p><br>

            <input type="submit" value="Számol">
        </form>
        <br>Eredmény : <span th:text="${eredmeny}"></span>
        <br>Log : <span th:text="${log}"></span>
    </div>
</body>
</html>
